.container {
  width: 327px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
  border-radius: 15px;
  background-image: radial-gradient(circle at 50% 0, #232a34, #181e27 90%);
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  font-size: 24px;
  color: #fff;
}

.request {
  font-size: 14px;
  line-height: 1.57;
  color: #969fad;
}

.numbers {
  display: flex;
  justify-content: space-between;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262e38;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.number:hover {
  background-color: #fc7614;
  color: #fff;
}

.submit {
  width: 100%;
  height: 45px;
  border-radius: 22.5px;
  background-color: #fc7614;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.87px;
  color: #fff;
  cursor: pointer;
}

.submit:hover {
  background-color: #fff;
  color: #fc7614;
}

@media screen and (min-width: 1440px) {
  .container {
    width: 412px;
    padding: 30px;
  }

  .star {
    width: 48px;
    height: 48px;
  }

  h1 {
    font-size: 28px;
  }

  .request {
    font-size: 15px;
  }

  .submit {
    font-size: 15px;
  }
}
