.container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
  border-radius: 15px;
  background-image: radial-gradient(circle at 50% 0, #232a34, #181e27 90%);
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  font-size: 24px;
  color: #fff;
}

.request {
  font-size: 14px;
  line-height: 1.57;
  color: #969fad;
}

.button {
  display: flex;
  gap: 17px;
}
