button {
  border: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: 0.18px;
  background-color: #262e38;
  color: #7c8798;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  cursor: pointer;
  transition: 0.4s;
}

@media screen and (min-width: 1440px) {
  button {
    width: 51px;
    height: 51px;
    font-size: 16px;
  }
}
